server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/testDb
    username: root
    password: System
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update

app:
  exception:
    blogAlreadyAvailable: Blog Already Available..
    blogNotFound: Blog Not Found....